[submodule "clin-workflows/fhir-import/fhir-import"]
	path = clin-workflows/fhir-import/fhir-import
	url = https://github.com/Ferlab-Ste-Justine/fhir-import.git
[submodule "clin-workflows/fhir-import/clin-etl-FHIR"]
	path = clin-workflows/fhir-import/clin-etl-FHIR
	url = https://github.com/Ferlab-Ste-Justine/clin-etl-FHIR.git
[submodule "Keycloak/clin-keycloak-theme"]
	path = Keycloak/clin-keycloak-theme
	url = git@github.com:Ferlab-Ste-Justine/clin-keycloak-theme.git
	branch = master
