# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea

#Docker secrets
aidbox/secrets/aidbox_root_user
aidbox/secrets/aidbox_root_password
aidbox/secrets/aidbox_admin_user
aidbox/secrets/aidbox_admin_password
aidbox/secrets/aidbox_db_user
aidbox/secrets/aidbox_db_password
aidbox/secrets/aidbox_license_id
aidbox/secrets/aidbox_license_key

Keycloak/secrets/keycloak_admin_password
Keycloak/secrets/keycloak_admin_user
Keycloak/secrets/keycloak_clin_client_secret
Keycloak/secrets/keycloak_db_password
Keycloak/secrets/keycloak_db_user

#Certificates and their signing requests
*.csr
*.pem
